$main-color: #4ec5d8;
$alt-color: #ffc107;
$footer-color:#0c8c9d;

$main-text-color:#010B14;

$white-color: #fff;
$black-color: #000;
$gray-color: #808080;

$extra-blue-color: #045198;
$blue-color: #008dac;
$light-blue-color: #4981b4;

$extra-green-color: #02c093;
$green-color: #26a69a;
$light-green-color: #49c156;

$bg-section-main: #f5f7fa;
$bg-section-alt: #fafbfc;
$footer-bg: #b2e4ed;