.site-footer {
  background-color: $footer-bg;
  .about-us {
    text-align: center;
    .logos {
      margin-bottom: 25px;
      @include flex-center;
      gap: 15px;
      img {
        height: 70px;
      }
    }
  }
  .site-info {
    @include flex-between;
    align-items: flex-start;
    gap: 20px;
    .lists-holder {
      @include flex-between;
      align-items: flex-start;
      gap: 30px;
      .list {
        li {
          margin-bottom: 10px;
          a {
            font-size: 13px;
            font-weight: 600;
            text-shadow: 0 0px 4px #c6c6c6;
            &.main {
              font-size: 15px;
            }
          }
        }
      }
    }
    .content-info {
      .holder {
        margin-bottom: 15px;
        .title {
          margin-bottom: 5px;
          font-weight: 600;
          font-size: 13px;
        }
        .info {
          font-size: 13px;
          color: #2d9dad;
          a {
            font-size: 13px;
            color: #2d9dad;
          }
        }
      }
    }
  }
  .text-content {
    text-align: center;
    .img-holder {
      img {
        width: 110px;
        height: 110px;
      }
    }
    .des {
      margin-bottom: 0;
      line-height: 1.9;
      font-weight: 500;
    }
  }
  .bottom-footer {
    text-align: center;
    border-top: 3px solid #333333;
    padding: 15px 0px;
    margin-top: 20px;
    p {
      margin-bottom: 0;
      color: #0b8595;
      font-weight: 700;
      font-size: 15px;
    }
  }
}
